.entry-card Input{
    padding: 5px;
}

.entry-card .imgLogo-signup{
    max-width: 100px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 2px solid #49A5FF;;
}
.entry-card InputGroup{
    margin-bottom: 0px;
}

.entry-card Button{
    margin-top: 0px;
}

.entry-card span{
    margin: 10px;
}

.entry-card h2{
    margin-bottom: 0px;
}

.entry-card .span-error{
    margin: 0px;
    color: red;
}

.entry-card .inputs {
    width: 100%;
    outline: none;
    padding: 8px 16px;
    border: 3px solid #0080ff4d;
    border-radius: 20px;
    font-size: 1rem;
    color: #49A5FF;
    transition: box-shadow 0.2s;
  }